form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    
  }
  
  label{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  button{
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  }
  
  h4{
  margin: 10px 10px;
  }
  
  
  
  input{
  width: 100%;
  padding: 3px;
  
  
  }
  
  input[type=number]::-webkit-inner-spin-button {
  opacity: 1
  }
  
  
  button{
  margin: 15px 15px;
  padding: 10px;
  }
  
  .error-msg{
  color: red;
  font-size: 13px;
  }
  
  pre{
  font-size: 13px;
  }
  
  
  
  .text{
  background: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  }
  
  .outputs{
  margin-top: 20px;
  font-size: 20px;
  }
  
  .outputs p{
  margin: 10px;
  }